{% extends 'layout.html' %}
{% load bootstrap4 %}
{% block content %}

<h3>送金日</h3>

{% for money in moneytrans %}
    <div>〜{{ money.deadline|date:"n/j(D)" }}到着　→　{{ money.transfer|date:"n/j(D)" }}送金</div>
{% endfor %}

<hr>


<div>解約登録日（または発行キャンセル登録日）</div>
{% comment %} <input type="date"> {% endcomment %}

<form action='{% url "mysched:mysched" %}' method='get'>
    <div>{{ moneyForm.date_field }}
    <input type="submit" class="btn btn-outline-primary mr-1 p-1" value="更新"></div>
</form>

    
{% comment %} {% if past_sched %} {% endcomment %}
<div>登録日：{{ input_date }}</div>
<div>↓</div>
<div>承認日：{{ past_sched.fix }}</div>
<div>↓</div>
<div>送金日：{{ past_sched.transfer }}</div>

{% comment %} {% endif %} {% endcomment %}


{% endblock %}

